{{ $ := .root }}
{{ $page := .page }}
<section id="aboutme" class="bg-dark text-light pt-5 pb-3 mt-4">
  <div class="container">
    <h2>{{ $page.Title }}</h2>
    <div class="row" itemprop="author" itemscope itemtype="http://schema.org/Person" itemref="{{ if $.Site.Params.email }}person-email{{ end }}{{ if $.Site.Params.phone }} person-telephone{{ end }}{{ if $.Site.Params.address}} person-address{{ end }}">
        {{ $page.Content }}
        <div class="col">
          {{ with $page.Params.interests }}
          <div class="col">
            <h3>{{ i18n "interests" | markdownify }}</h3>
            <ul class="ul-interests">
              {{ range .interests }}
              <li>{{ . | markdownify }}</li>
              {{ end }}
            </ul>
          </div>
          {{ end }}

          {{ with $page.Params.education }}
          <div class="col">
            <h3>{{ i18n "education" | markdownify }}</h3>
            <ul class="ul-edu fa-ul">
              {{ range .courses }}
              <li>
                <i class="fa-li fas fa-graduation-cap"></i>
                <div class="description">
                  <p class="course mb-0">{{ .course }}{{ with .year }}, {{ . }}{{ end }}</p>
                  <p class="institution">{{ .institution }}</p>
                </div>
              </li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
      </div>
    </div>
  </div>
</section>
