{{ $ := .root }}
{{ $page := .page }}
<section id="mondogis" class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>{{ $page.Title }}</h2>
      </div>
    </div>
    <div class="row mb-4 mt-3">
      <div class="col-lg-6 col-12">
        <div class="ratio ratio-16x9">
          <iframe src="//www.youtube-nocookie.com/embed/{{ $page.Params.trailer }}" title="{{ $page.Title }}" loading="lazy" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-6 col-12 fs-5">
        {{ $page.Content }}
        <a class="btn btn-lg btn-outline-success" href="{{ $page.Params.channelurl }}">{{ $page.Params.cta | default "Vai al canale" }}</a>
      </div>
    </div>
  </div>
</section>
