{{ $ := .root }}
{{ $page := .page }}
{{ $pubs_len := len (where $.Site.RegularPages "Type" "publication") }}

<section id="publications" class="bg-secondary text-light mt-4 pt-5 pb-4 mb-5">
  <div class="container">
    <!-- Publications widget -->
    <div class="row">
      <div class="col-12 col-lg-4 section-heading">
        <h2>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h2>
        {{ with $page.Params.subtitle }}<p>{{ . | markdownify  }}</p>{{ end }}
      </div>
      <div class="col-12 col-lg-8">
        {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

        {{ $.Scratch.Set "recent_pubs" (where $.Site.RegularPages "Type" "publication") }}

        {{ $recent_pubs := $.Scratch.Get "recent_pubs" }}
        {{ range first $page.Params.count $recent_pubs }}
        <div class="pub-list-item" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
          <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
          <span itemprop="author">
            {{ with .Params.authors }}
            {{- delimit . ", " | markdownify -}}
            {{- end -}}
          </span>
          ({{- .Date.Format "2006" -}}).
          {{ if .Params.publication_short }}
          {{- .Params.publication_short | markdownify -}}.
          {{ else if .Params.publication }}
          {{- .Params.publication | markdownify -}}.
          {{ end }}<br>
          <strong class="text-light text-uppercase">{{ .Title }}.</strong>
        </div>
        {{ end }}

      </div>
    </div>

  </div>
</section>
