{{ $ := .root }}
{{ $page := .page }}
{{ $posts_len := len (where (where $.Site.RegularPages "Type" "project") ".Params.notonhomepage" nil) }}

<section id="showcase" class="pt-5 pb-3 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 section-heading text-light">
        <h2>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h2>
        {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 mb-4 mt-3">
      {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}
      {{ $posts := where (where $.Site.RegularPages "Type" "project") ".Params.notonhomepage" nil }}

      {{ range $post := first $page.Params.count $posts }}
      <div class="col mb-3 mb-lg-0">
        <div class="card">
          <img src="{{ $post.Params.image_preview }}" class="card-img-top" alt="{{ $post.Title }}">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">{{ $post.Title }}</h5>
            <p class="card-text">{{ $post.Params.summary }}</p>
            <a href="{{ $post.Params.external_link }}" class="float-right btn btn-success">SCOPRI</a>
          </div>
        </div>
      </div>
      {{ end }}
      
    </div>
  </div>
  </div>
</section>
