{{ $ := .root }}
{{ $page := .page }}
<section id="skills">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      {{ with $page.Title }}
        <h1 class="display-5">{{ . | markdownify | emojify }}</h1>
      {{ end }}
      {{ if $page.Params.subtitle }}<p class="lead">{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
      {{ with $page.Content }}
      <p>{{ . | markdownify }}</p>
      {{ end }}
    </div>
  </div>
  <div class="container">
    <div class="row featurette mb-4">
      {{ range $page.Params.feature }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
      {{ $pack_prefix = "fa" }}
      {{ end }}
      <div class="col-md-4">
        {{ with .icon }}<div class="featurette-icon text-danger"><i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}"></i></div>
        {{ end }}
        <h3>{{ .name | markdownify | emojify }}</h3>
        {{ with .description }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
