{{ partial "header" . }}
{{ partial "navbar" . }}
  <div class="container mt-5">
    {{ with .Title }}
    <h1>{{ . }}</h1>
    {{ end }}
    {{ with .Content }}
    <div class="lead border-bottom pb-3" itemprop="articleBody">{{ . }}</div>
    {{ end }}
  </div>
  <div class="container mt-3">
  {{ $paginator := .Paginate (where .Data.Pages "Params.hidden" "ne" "true") }}
  {{ range $paginator.Pages }}
  <article class="pt-4">
    <div class="small text-muted">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date | time.Format ":date_long" }}</time>
    </div>
    <h3 class="fs-4 mb-1"><a href="{{ .RelPermalink }}" class="link-success text-decoration-none">{{ .Title }}</a></h3>
    <p class="mb-0">
      {{ if .Params.summary }}
      {{ .Params.summary | plainify | emojify }}
      {{ else if .Params.abstract }}
      {{ .Params.abstract | plainify | emojify | truncate 250 }}
      {{ else if .Summary }}
      {{ .Summary | plainify | emojify }}
      {{ end }}
    </p>
  </article>
  {{ end }}

  {{ partial "pagination" . }}
  </div>

{{ partial "fontawesome" . }}
{{ partial "footer" . }}
