{{ partial "header" . }}
{{ partial "navbar" . }}
  <div class="jumbotron jumbotron-fluid bg-success text-light">
    <div class="container">
      {{ with .Title }}
      <h1 class="display-4 m-0 p-0">{{ . }}</h1>
      {{ end }}

      {{ with .Content }}
      <div class="article-style" itemprop="articleBody">{{ . }}</div>
      {{ end }}
    </div>
  </div>
  <div class="container">
  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
  <article class="pt-4">
    <h2 class="mb-0"><i class="fas fa-fw fa-book text-secondary"></i> <a href="{{ .RelPermalink }}" class="text-success font-weight-bold">{{ .Title }}</a></h2>
    <p class="lead">
      {{ if .Params.summary }}
      {{ .Params.summary | plainify | emojify }}
      {{ else if .Params.abstract }}
      {{ .Params.abstract | plainify | emojify | truncate 250 }}
      {{ else if .Summary }}
      {{ .Summary | plainify | emojify }}
      {{ end }}
    </p>
  </article>
  {{ end }}

  {{ partial "pagination" . }}
  </div>

{{ partial "webpackstyle" . }}
{{ partial "footer" . }}
