{{ partial "header" . }}
{{ partial "navbar" . }}

<div class="container mt-5 mb-5">
  <h1>{{ i18n "page_not_found" }}</h1>
  <p class="lead mt-3">{{ i18n "404_recommendations" }}</p>
  <ul>
    <li><a class="link-success" href="{{ "/" | relURL }}">{{ .Site.Title }}</a></li>
    <li><a class="link-success" href="{{ "post" | relURL }}">{{ (.Site.GetPage "section" "post").Title }}</a></li>
    <li><a class="link-success" href="{{ "interesting-articles" | relURL }}">{{ (.Site.GetPage "section" "interesting-articles").Title }}</a></li>
  </ul>
</div>

{{ partial "footer" . }}
