{{ partial "header" . }}
{{ partial "navbar" . }}

  {{ with .Title }}
  <div class="jumbotron jumbotron-fluid bg-success text-light">
    <div class="container">
      <h1 class="display-2">{{ . }}</h1>
    </div>
  </div>
  {{ end }}
  <div class="container">

  {{ with .Content }}
  <div class="article-style" itemprop="articleBody">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
  <article class="pt-5">
    <h2><a href="{{ .RelPermalink }}" class="text-success font-weight-bold">{{ .Title }}</a></h2>
    <p class="lead">
      {{ if .Params.summary }}
      {{ .Params.summary | plainify | emojify }}
      {{ else if .Params.abstract }}
      {{ .Params.abstract | plainify | emojify | truncate 250 }}
      {{ else if .Summary }}
      {{ .Summary | plainify | emojify }}
      {{ end }}
    </p>
  </article>
  {{ end }}

  {{ partial "pagination" . }}
  </div>

{{ partial "webpackstyle" . }}
{{ partial "footer" . }}
