{{ partial "header" . }}
{{ partial "navbar" . }}

<article class="article" itemscope itemtype="http://schema.org/Article">


    <div class="jumbotron jumbotron-fluid bg-success text-light mb-0">
      <div class="container">
        {{ with .Title }}
        <h1 class="display-4 d-none d-sm-block">{{ . }}</h1>
        <h1 class="display-5 d-sm-none">{{ . }}</h1>
        {{ end }}
        {{ with .Summary }}
        <h4 class="display-6">{{ . }}</h4>
        {{ end }}
      </div>
    </div>

    {{ partial "header_image" . }}

    <div class="bg-secondary">
      <div class="container text-light">
        <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
          {{ partial "article_metadata" (dict "content" . "is_list" 0) }}
        </div>
      </div>
    </div>

    <div class="container">
    <div class="article-style pt-4" itemprop="articleBody">
      {{ .Content }}
    </div>


    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <div class="article-widget">
      <div class="hr-light"></div>
      <h3>{{ i18n "related" }}</h3>
      <ul>
        {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
    {{ end }}

  </div>
</article>

{{ partial "webpackstyle" . }}
{{ partial "footer" . }}
