{{ $ := .root }}
{{ $page := .page }}
<section id="hero" class="mt-0">
  <div class="jumbotron jumbotron-fluid bg-success text-light">
    <div class="container">
      <h1 class="display-4 d-none d-sm-block">{{ $page.Title }}</h1>
      <h1 class="display-4 d-sm-none">{{ $page.Title }}</h1>
      <h2 class="display-5 d-none d-sm-block">{{ $page.Params.subtitle }}</h2>
      <h2 class="display-5 d-sm-none">{{ $page.Params.subtitle }}</h2>
      {{ $page.Content }}
    </div>
  </div>
</section>
