{{/* box autore in coda agli articoli: chi arriva da google su un post non
     passa dalla home, questo e' l'unico punto in cui il sito si presenta.
     in italiano come tutto il guscio, anche sui post inglesi */}}
<div class="col col-lg-8 offset-lg-2 mt-4">
  <div class="p-3 bg-light border-start border-4 border-success">
    <p class="mb-1"><strong><a class="link-success text-decoration-none" href="{{ "/" | relURL }}">Eduard Roccatello</a></strong> - co-fondatore e CTO di <a class="link-success" href="https://www.3dgis.it">3DGIS</a>.</p>
    <p class="mb-0">Da vent'anni mi occupo di geoinformatica, ingegneria del software e sicurezza
    delle informazioni. Per collaborazioni o segnalazioni:
    <a class="link-success" href="{{ "/#contacts" | relURL }}">contatti</a>.</p>
  </div>
</div>
