
<footer class="bg-success text-light">
  <div class="container">
    <div class="row p-2">
      <div class="col">
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="link-light">CC BY-SA 4.0 by Eduard Roccatello</a>
      </div>
      <div class="col text-end">
        <a href="{{ "privacy" | relURL }}" class="link-light">Privacy policy</a>
      </div>
    </div>
  </div>
</footer>
{{ partial "webpackstyle" . }}
{{ partial "webpackscript" . }}
{{ if $.Params.mermaid }}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>mermaid.initialize({ startOnLoad: true, securityLevel: 'loose'});</script>
{{ end }}
{{ if $.Params.js }}
{{ range $.Params.js }}
<script src="{{ . }}"></script>
{{ end }}
{{ end }}
{{ if $.Params.css }}
{{ range $.Params.css }}
<link href="{{ . }}" rel="stylesheet">
{{ end }}
{{ end }}
</body>

</html>
