<nav class="navbar navbar-dark fixed-top bg-dark navbar-expand-lg" id="navbar-main">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ "/" | relLangURL }}">{{- .Site.Title -}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        {{ range .Site.Menus.main }}

        {{ $.Scratch.Set "target" "" }}
        {{ if gt (len .URL) 4 }}
        {{ if eq "http" (slicestr .URL 0 4) }}
        {{ $.Scratch.Set "target" " target=\"_blank\" rel=\"noopener\"" }}
        {{ end }}
        {{ end }}

        <li class="nav-item">
          <a class="nav-link" href="{{ .URL | relLangURL }}" {{ if $.IsHome }} data-target="{{ .URL }}"
            {{ end }}{{ ($.Scratch.Get "target") | safeHTMLAttr }}>
            {{ .Pre }}
            <span>{{ .Name | safeHTML }}</span>
            {{ .Post }}
          </a>
        </li>

        {{ end }}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
