@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  font-family: "system";
  padding-top: 56px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

.featurette {
  text-align: center;

  .featurette-icon {
    font-size: 4rem;
  }
}

#contacts {
  li {
    padding-top: 0.8rem;
    margin-bottom: 0.3rem;
  }

  .fa-li {
    position: absolute;
    left: -3.14285714rem;
    width: 2rem;
    top: 0.14285714em;
    text-align: center;
  }
}

.article-header {
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  height: 240px;
}

.article-style {
  font-size: 1.2em;
}

blockquote {
  margin: 1em 0;
  padding-left: 1em;
  border-left: 4px solid #eee;
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .wrap-two-columns {
    column-count: 3;
  }
}
