@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  font-family: "Noto Serif", serif;
  padding-top: 56px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: "system";
}

.featurette {
  text-align: center;

  .featurette-icon {
    font-size: 4rem;
  }
}

#contacts {
  li {
    padding-top: 0.8rem;
    margin-bottom: 0.3rem;
  }

  .fa-li {
    position: absolute;
    left: -3.14285714rem;
    width: 2rem;
    top: 0.14285714em;
    text-align: center;
  }
}

#posts {
  background-color: #f0f0f0;
}

.article-header {
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  height: 240px;
}

.article-style {
  font-size: 1.2em;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

blockquote {
  margin: 1em 0;
  padding-left: 1em;
  border-left: 4px solid #eee;
  font-style: italic;
}


figure figcaption h4 {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  text-align: center;
}