{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav>
  <ul class="pagination justify-content-center">
    {{ if .Paginator.HasPrev }}
    <li class="page-item"><a class="text-light bg-success font-weight-bold border-light page-link" href="{{ .Paginator.Prev.URL | relLangURL }}"><i class="fa fa-chevron-left"></i></a></li>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <li class="page-item"><a class="text-light bg-success font-weight-bold border-light page-link" href="{{ .Paginator.Next.URL | relLangURL }}"><i class="fa fa-chevron-right"></i></a></li>
    {{ end }}
  </ul>
</nav>
{{ end }}